<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>English Dictionary</title>
<style>
    .input-group-text{
        color: blue;
        width: 34;
    }

    .word{
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
</head>

<body>
    
    <center>
        <br><br><br>
    <div class="card" style="width: 40rem;">
        <form action="word">
            <h2 style="color: blue;">English Dictionary</h2>
            <div class="input-group mb-2">
                <span class="input-group-text">Enter Word</span>
                <input type="text" class="form-control" name="search" >
              </div>
              <button type="submit" class="btn btn-warning">Submit</button>
              <br><br>
        </form>
    </div>
</center>


</body>

</html>